<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <input [(ngModel)]="id" type="text" placeholder="Enter Country id..."><br>
  <input [(ngModel)]="name" type="text" placeholder="Enter Country name..."><br>
  <input [(ngModel)]="code" type="text" placeholder="Enter Country code..."><br>
  <button (click)="addRecordsToService()">Insert Country</button>
  
  <div *ngFor="let country of countries">
    <ul>
      <li>{{country.id}}</li>
      <li>{{country.name}}</li>
      <li>{{country.code}}</li>
    </ul>
  </div>
  
</body>
</html>